server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cream?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.sparta.cream: debug

portone:
  api:
    base-url: https://api.portone.io
    store-id: ${PORTONE_STORE_ID}
    channel-key: ${PORTONE_CHANNELKEY}
    secret: ${PORTONE_API_SECRET}
